html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #171717; /* Dark background for 3D scene */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}